p{
    background-color:  violet;
}
a{
    background-color: tomato;
}
span{
    background-color: rgb(172, 238, 144);
}
.red{
    background-color: slateblue;
}
div{
    background-color: lightgray;
}++